<div class="password-page__main__inner" data-section-id="{{ section.id }}" data-section-type="password-content">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% unless section.settings.title == blank %}
    <h2 class="password-page__hero">{{ section.settings.title | escape }}</h2>
  {% endunless %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr password-page__hr">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <p class="password-page__signup-form__heading h5">{{ section.settings.newsletter_form_heading | escape }}</p>
          {% unless section.settings.newsletter_form_subheading == blank %}
            <div class="rte">{{ section.settings.newsletter_form_subheading }}</div>
          {% endunless %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="{{ section.settings.newsletter_button_text | escape }}">
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="password-page__signup-form__heading h5">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}

</div>



{% schema %}
{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "pt-BR": "Conteúdo"
  },
  "class": "password-page__main",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Eröffnet demnächst",
        "en": "Opening Soon",
        "es": "Apertura Próximamente",
        "fr": "Ouverture prochaine",
        "it": "Prossima apertura",
        "ja": "間もなくオープンします",
        "pt-BR": "Abertura em breve"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "メールマガジン",
        "pt-BR": "Newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Suscríbete al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla Newsletter",
        "ja": "メールマガジンの登録を表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fr": "Titre du formulaire de la newsletter",
        "it": "Titolo del modulo della Newsletter",
        "ja": "メールマガジンフォームの見出し",
        "pt-BR": "Título do formulário da newsletter"
      },
      "default": {
        "de": "Erfahren Sie zuerst, wann unser Shop gelauncht wird.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fr": "Apprenez notre lancement avant tout le monde.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "pt-BR": "Seja o primeiro a saber quando lançarmos."
      },
      "info": {
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto)."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario de boletín",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della Newsletter",
        "ja": "メールマガジンフォームの小見出し",
        "pt-BR": "Subtítulo do formulário da newsletter"
      },
      "default": {
        "de": "<p>Ein kurzer Satz, der beschreibt, was jemand abonniert</p>",
        "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
        "es": "<p>Una frase corta que describe lo que alguien recibirá al suscribirse</p>",
        "fr": "<p>Une courte phrase décrivant ce que quelqu'un recevra en s'abonnant</p>",
        "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
        "ja": "<p>メルマガ購読者に向けたメッセージを入れましょう</p>",
        "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá ao assinar</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "de": "Platzhaltertext für Newsletter",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fr": "Texte du paramètre fictif de la newsletter",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "メールマガジンのプレースホルダテキスト",
        "pt-BR": "Texto do marcador de posição da newsletter"
      },
      "default": {
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "pt-BR": "E-mail"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fr": "Texte du bouton de la newsletter",
        "it": "Testo del pulsante Newsletter",
        "ja": "メールマガジンボタンのテキスト",
        "pt-BR": "Texto do botão da newsletter"
      },
      "default": {
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fr": "Envoyer",
        "it": "Invia",
        "ja": "送信する",
        "pt-BR": "Enviar"
      }
    },
    {
      "type": "header",
      "content": {
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fr": "Partage social",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "pt-BR": "Compartilhamento social"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "de": "Social-Sharing-Schaltflächen anzeigen",
        "en": "Social sharing buttons heading",
        "es": "Mostrar botones para compartir en redes sociales",
        "fr": "Afficher les boutons de partage social",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "de": "Überschrift für Social-Sharing-Schaltflächen",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fr": "Titre des boutons de partage social",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "pt-BR": "Título dos botões de compartilhamento social"
      },
      "default": {
        "de": "Weitersagen",
        "en": "Spread the word",
        "es": "Riega la voz",
        "fr": "Faites passer le mot",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "pt-BR": "Divulgue a novidade"
      }
    }
  ]
}
{% endschema %}
